* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	/*font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}

/*NAVBAR
___________________________________________________*/
.logotype {
	width: 45px;
}

.nav-main {
	position: fixed;
	top: 0;
	left: 0;
    background-color: #f2f2f2;
    width: 100%;
    z-index: 1000;
}

.nav-bar {
	position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name {
	font-size: 1em;
}

.nav-bar h5, p {
	margin-bottom: 0;
}


.p-nav {
	margin-bottom: 0;
	text-transform: uppercase;
}

.nav-buttons {
	text-align: right;
	padding-top: 15px;
	padding-bottom: 2px;
}

.brand {
	padding-left: 16%;
}

.brand-name {
	padding-top: 4px;
	padding-left: 2%;
}

/*BLOCKS
_______________________________________________*/
.block-1 {
	background-color: #f2f2f2;
}

.block-1-foot {
	background-color: #484d52;
	color: #fff;
}

.block-2 {
  background-image:url(../images/logo_tarnsfer_ver1.2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 20px;
}

.block-3 {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-4 {
	background-color: #42ae63;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}

.block-6 {
	background-color: #484d52;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 30px;
}

.block-header {
	text-align: center;
    padding-bottom: 15px;
}

/*Inside BLOCKS
_________________________________________________*/

.describe {
	padding: 10% 10% 5% 10%;
}

.describe-p {
	text-align: center;
}

.describe-foot {
	padding: 5%;
}

.describe-title {
	text-align: center;
}

.button-row {
	text-align: center;
	padding-top: 30px;
}

.transfer_logo {
	height: 400px;
}

.describe-block-2 {
	padding-top: 25px;
}

.describe-block-2 h5 {
	margin-bottom: .5rem;
	font-size: 2rem;
}

.quest {
	padding-bottom: 1rem;
}

.item-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-buttons a {
	text-decoration: none;
	color: #222;
}

.foot {
	text-align: center;
	padding-top: 20px;
}

.icons {
	font-size: 2em;
	color: #484d52;
}

.work {
	padding-top: 10px;
}

.container-block {
	padding-left: 18%;
}

.avatar {
    border: 1px solid #cecece;
    border-radius: 100px;
/*    filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);*/
}

.avatar:active, .avatar:focus, .avatar:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;

} 

.names-team {
	text-align: center;
	padding-bottom: 20px;
	padding-left: 8%;
}

.team {
	padding-top: 100px;
}

.projects {
	padding-top: 70px;
}

.input-foot {
	color: #000;
}

.button-foot {
	color: #fff !important;
}

.button-foot:hover, .button-foot:focus {
	color: #fff;
    border-color: #42ae63 !important;
    background-color: #42ae63;
}

.button-head:hover, .button-head:focus {
	color: #fff !important;
    border-color: #42ae63 !important; 
    background-color: #42ae63;
}

.active-button {
	text-decoration: underline;
}

.share-row {
	text-align: center;
	font-size: 2em;
}

.share-button a {
	color: white;
	margin: 10px;
}

.row-adress {
	text-align: right;
}

.share-button a:active, .share-button a:hover {
	border-color: #1eaedb;
	color: #1eaedb;
}

.logos {
	height: 90px;
}

.logos-row {
	text-align: center;
	padding-top: 10px;
}

.button-border {
	padding-left: 10px;
}

@media (min-width: 550px) {
	.member:first-child {
    	margin-left: 4%;
	}
}

.member {
	padding-bottom: 2%;
}

.partner-logo {
	max-height: 150px;
	min-width: 150px;
	display: block;
	width: auto;
	height: auto;
}

/*For mobiles*/
@media (max-width: 650px) {
	.nav-buttons {width: 80%; padding-top: 10px;}
	.nav-logo {width: 20%;}
	.logotype {width: 35px; padding-top: 5px;}
	.brand-name {display: none;}
	.block-1 {padding-top: 40px;}
	.mob-nav-2 {width: 33%; padding-right: 45px;}
	.describe {padding: 10% 5% 5% 5%;}
	.mc-field-group {float: none;}
	.button-border {float: none;}
	.block-2 {margin: 0 auto; padding: 0% 10% 3% 10%; background-image: none;}
    .block-4 {padding-top: 20px;}
    .container-block {padding-left: 0%;}
    .icons {width: 10%;}
    .work {width: 90%; padding-left: 5%;}
    .block-6 {padding-top: 30px;}
    .share-mob {width: 100%; text-align: center; padding-top: 20px;}
    .share-button {width: 32%;}
    .contacts-mob {width: 100%; text-align: center;}
    .adress-mob {display: none;}
    .member {width: 25%; padding-right: 2%; font-size: 1.3rem;}
    .team {padding-top: 80px;}
    .names-team {padding-left: 0;}
    .block-header {padding-bottom: 0px;}
	.wrapper {display: table;}
	.content-left {display: table-footer-group; text-align: left; padding-left: 0;}
	.content-right {padding-right: 0;}
}
