{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title%}{% endblock %}</title>
  <meta name="google-site-verification" content="m6sYi9Zzvin2ojzxtYhRTErhmUIhJJViPzwcQM1VEdM" />
  <meta name="yandex-verification" content="c4fdcef24d5464af" />
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/fafb9ab347.js"></script>
  <meta name="description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">

  <meta property="og:title" content="Heisen.me">
  <meta property="og:description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
  <link rel="canonical" href="https://heisen.me/">
  <meta property="og:url" content="https://heisen.me/">
  <meta property="og:image" content="static/images/vk_logo.png">
  <meta property="og:site_name" content="Heisen.me">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@heisenhub">
  <meta name="twitter:creator" content="@heisenhub">
  <meta name="twitter:description" content="Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.">
  <meta property="fb:admins" content="1312055486">
  <meta property="article:publisher" content="1312055486">
  <meta property="fb:app_id" content="1419810681377487">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400" rel="stylesheet">
  {% if debug %}
  <link rel="stylesheet" href="{% static 'CSS/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/custom.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'CSS/minified.css' %}">
  {% endif %}
  <!-- Schema Structured Data -->
  <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "EducationalOrganization",
  "name": "Heisen",
  "url": "https://heisen.me",
  "logo": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
  "image": "https://heisen.me/static/images/heisen_spaces_transparent_logo.png",
  "description": "Сообщество Heisen объединяет активных людей. Мы хотим делиться опытом и учиться новому. Мы быстро растем и самостоятельно решаем любые задачи.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "3503 Jack Northrop Ave Suite AH761 ",
    "addressLocality": "Hawthorne",
    "addressRegion": "CA",
    "postalCode": "90250",
    "addressCountry": "USA"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+7 (985) 128-37-08",
    "contactType" : "customer service"
  }
}
 </script>

  <!-- Favicon part -->

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'images/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#00a300">
  <meta name="apple-mobile-web-app-title" content="Heisen.me' %}">
  <meta name="application-name" content="Heisen.me">
  <meta name="theme-color" content="#ffffff">

  <!-- Google+1 -->
  <script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'ru'}
</script>
</head>
<body>
    <div class="row nav-main header">
    <div class="twelve columns nav-bar">
      <div class="seven columns nav-logo">
        <div class="brand">
          <div class="one columns">
            <a href="/"><img class="logotype" src="{% static 'images/heisen_spaces_transparent_logo.png' %}" alt="logo"></a>
          </div>
          <div class="eight columns brand-name">
            <h5>Heisen</h5>
          </div>
        </div>
      </div>
      <div class="five columns nav-buttons">


        <div class="three columns mob-nav-2 p-nav">
          <div >
            <a href="/" title="">О нас</a>
          </div>
        </div>

        <div class="three columns mob-nav-2 p-nav">
          <div >
            <a href="/team/" title="">Команда</a>
          </div>
        </div>

        <div class="three columns mob-nav-2 p-nav">
          <div >
            <a href="/partners/" title="">Партнеры</a>
          </div>
        </div>
        <div class="three columns mob-nav-2 p-nav">
        {% if user.get_username%}
        <div >
          <a href= {{ '/profile/'|add:user.person.slack_id}} title="">Профиль</a>
        </div>
        {% else %}
        <div >
         <a href="{% url 'social:begin' 'slack' %}">Войти</a>
        </div>
        {% endif %}

        </div>

      </div>
    </div>
  </div>
{% block content %}
{% endblock %}

	<footer class="block-6" id="colophon">
  <div class="container">
    <div class="row">
      <div class="four columns contacts-mob">
        <p><i class="fa fa-envelope" aria-hidden="true"></i>
        <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'i'+'n'+'%'+'6'+'6'+
'%'+'6'+'&'+'#'+'7'+'0'+';'+'&'+'#'+'6'+'4'+';'+'%'+'6'+'8'+'&'+'#'+'1'+'0'+'1'+';'+'%'+'&'+'#'+'5'+
'4'+';'+'&'+'#'+'5'+'7'+';'+'s'+'e'+'n'+'&'+'#'+'4'+'6'+';'+'%'+'6'+'D'+'e'+"'"+'>'+'&'+'#'+'1'+'0'+
'5'+';'+'&'+'#'+'1'+'1'+'0'+';'+'f'+'o'+'&'+'#'+'6'+'4'+';'+'h'+'e'+'i'+'s'+'e'+'n'+'&'+'#'+'4'+'6'+
';'+'m'+'e'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
        </p>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i>+7 (985) 128-37-08</p>
        <p><a href="/contacts/">Реквизиты</a></p>
        <p><a href="/blog/">Блог</a></p>
      </div>
      <div class="four columns share-mob">
        <div class="row share-row">
          <div class="three columns share-button">
            <a href="https://vk.com/heisenhub" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
          </div>
          <div class="three columns share-button">
            <a href="https://www.youtube.com/channel/UClqUgNPjJM-ymB7g_29VO9w" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          </div>
          <div class="three columns share-button">
            <a href="https://heisenspaces.slack.com" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a>
          </div>
          <!-- <div class="four columns share-button">
            <a href="https://heisenspaces.slack.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="four columns share-button">
            <a href="https://heisenspaces.slack.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div> -->
          <div class="three columns share-button">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@heisenhub%20is%20recruiting%20new%20members"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="four columns adress-mob">
        <div class="row row-adress">
          <p>3503 Jack Northrop Ave Suite AH761 Hawthorne, CA 90250</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns foot">
        <small>© <script>document.write("2016 -" + new Date().getFullYear());</script> Heisen LLC</small>
      </div>
    </div>
  </div>
</footer>
  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40177012 = new Ya.Metrika({ id:40177012, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40177012" style="position:absolute; left:-9999px;" alt="ya" /></div></noscript> <!-- /Yandex.Metrika counter -->
  <!-- GoogleAnalytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-86530898-2', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
