<footer class="block-6" id="colophon">
  <div class="container">
    <div class="row">
      <div class="four columns contacts-mob">
        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i>{{ site.phone }}</p>
      </div>
      <div class="four columns share-mob">
        <div class="row share-row">
          <div class="four columns share-button">
            <a href="http://vk.com/share.php?url=http://heisenhub.com" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
          </div>
          <div class="four columns share-button">
            <a href="https://www.facebook.com/sharer/sharer.php?u=heisenhub.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div class="four columns share-button">
            <a href="https://twitter.com/intent/tweet?text=Heisen набирает новых рабов!&url=http://heisenhub.com&hashtags=heisen," target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="four columns adress-mob">
        <div class="row row-adress">
          <p>{{ site.address }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns foot">
        <small>© 2016 Heisen LLC</small>
      </div>
    </div>
  </div>
</footer>