  <div class="row nav-main header">
    <div class="twelve columns nav-bar">
      <div class="seven columns nav-logo">
        <div class="brand">
          <div class="one columns">
            <a href="{{ url }}"><img class="logotype" src="{{ "../images/heisen_spaces_transparent_logo.png" | absolute_url }}"></a>
          </div>
          <div class="eight columns brand-name">
            <h5>{{ site.title }}</h5>
          </div>
        </div>
      </div>
      <div class="five columns nav-buttons">
        {% assign url = page.url|remove:'' %}
        {% for link in site.navigation %}
        <div class="three columns mob-nav-2 p-nav">
          <div {% if url == link.url %} class="active-button p-nav" {% endif %}>
            <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>