  <div class="row nav-main header">
    <div class="twelve columns nav-bar">
      <div class="eight columns">
        <div class="brand">
          <div class="one columns">
            <a href="{{ url }}"><img class="logotype" src="{{ "../images/heisen_spaces_transparent_logo.png" | absolute_url }}"></a>
          </div>
          <div class="eight columns brand-name">
            <h5>{{ site.title }}</h5>
          </div>
        </div>
      </div>
      <div class="four columns nav-buttons">
        <div class="three columns">
          <a href="{{ "/" | absolute_url }}"><p class="p-nav">О Нас</p></a>
        </div>
        <div class="three columns">
          <a href="{{ "/team/" | absolute_url }}"><p class="p-nav">Команда</p></a>
        </div>
        <div class="three columns">
          <a href="{{ "/partners/"  | absolute_url }}"><p class="p-nav">Партнеры</p></a>
        </div>
        <div class="offset-by-three columns"></div>
      </div>
    </div>
  </div>