{% extends "main_template.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

<div class='block-3'>
  <form method="post" action="/accounts/process_login/">
  {% csrf_token %}
  <table>
  <tr>
      <td><label for="username">Имя пользователя:</label></td>
      <td><input type="text" name="username" value="" id="username"></td>
  </tr>
  <tr>
      <td><label for="password">Пароль:</label></td>
      <td><input type="password" name="password" value="" id="password"></td>
  </tr>
  </table>

  <input type="submit" value="login" />
  </form>
</div>

{% endblock %}
