{% extends "main_template.html" %}
{% block title %}Heisen{% endblock %}
{% block content %}
{% load static %}
<div class="container">
		<div class="row">
			<div class="twelve columns block-header">
				<h4>Наша команда</h4>
			</div>
		</div>
</div>
<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Юридический адрес:</td>
        <td>115516, г. Москва, ул. Весёлая, д. 33, корп. 6, кв. 22</td>
      </tr>
      <tr>
        <td>ИНН:</td>
        <td>7724383777</td>
      </tr>
      <tr>
        <td>КПП:</td>
        <td>772401001</td>
      </tr>
      <tr>
        <td>ОГРН::</td>
        <td>1167746911914</td>
      </tr>
      <tr>
        <td>ОКВЭД:</td>
        <td>62.01</td>
      </tr>
      <tr>
        <td>Расчетный счет:</td>
        <td>40702810801500001024</td>
      </tr>
      <tr>
        <td>В банке:</td>
        <td>ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"</td>
      </tr>
      <tr>
        <td>Корреспондентский счет:</td>
        <td>30101810845250000999</td>
      </tr>
      <tr>
        <td>БИК:</td>
        <td>044525999</td>
      </tr>
      <tr>
        <td>Тел:</td>
        <td>+7-985-128-37-08</td>
      </tr>
      <tr>
        <td>e-mail:</td>
        <td>x.bikov@gmail.com</td>
      </tr>
      <tr>
        <td>генеральный директор</td>
        <td>Быков Е.М.</td>
      </tr>
     </tbody>
  </table>
</div>
{% endblock %}
